* {
	margin: 0px;
	padding: 0px;
	font-size: 12pt;
	box-sizing: border-box;
}

.wrapper {
	width: 60%;
	height: 60vh;
	border: 1px solid #0a0908;
	background-color: #e2e2e25b;
	margin: 50px auto;
	padding: 50px 1% 1% 1%;
	display: flex;
	flex-direction: column;
	gap: 1%;
}
[class^="box"] {
	border: 1px solid #0a0908;
	background-color: #c99f832a;
	height: 100%;
	flex-basis: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box2 {
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-around;
}
h1 {
	font-size: 1.5rem;
	padding: 5px 10px;
}
p {
	padding: 5px 10px;
}
@media only screen and (min-width: 768px) {
	.wrapper {
		flex-direction: row;
	}
}
